/* Remove global margin setting */
* {
    box-sizing: border-box;
}

.body_margin {
    margin-left:15%;
    margin-right: 15% ;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: black;
}

img {
    max-width: 100%; /* Ensure images fit inside their containers */
    height: auto; /* Maintain aspect ratio */
}


nav {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    font: 120% system-ui;
    text-align: center;
    padding: 2rem 1rem;
}

a {
    color: #11823b;
    text-decoration:none;
    font-weight: bold;
}
  
a:hover {
    font-weight: 900;
    color: #02231c;
}

a:active {
    color: #02231c;
    font-weight: 900;
}

.topnav {
    text-align: center;
    margin-bottom: 20px; /* Add space below the navigation */
}

.pagenav {
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    position: fixed;
    top: 300px;
    right: 15%;
    font-weight: bold;
    font-size: 15px;
    background-color: #84bf68;
    border-radius: 5%;
}

.pagenav li {
    margin-bottom: 10px; /* Adjust spacing between list items */
  }

.pagenav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.pagenav a:hover {
    font-weight: bold;
    color: #02231c;
}
  
.pagenav a:active {
    color: #02231c;
    font-weight: bold;
}

.body_nav_margin {
    float: left;
    width: 80%;
    padding: 20px;
}

#small_gap {
    height: 5px;
}



/* Adjustments for plant sections */

.centered {
    display: flex;
    justify-content: center; /* Align elements to the left */
    flex-wrap: wrap; /* Allow elements to wrap to next line */
    gap: 2%;
}

.Epipremnum, .monstera, .syngonium {
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    flex-wrap: wrap; /* Allow elements to wrap to next line */
    gap: 2%; /* Adjust space between elements */
}

.e_element, .m_element, .s_element {
    text-align: center;
    flex: 1 1 30%; /* Adjust width of each element */
    max-width: calc(30% - 2%); /* Adjust maximum width accounting for gap */
    margin-bottom: 20px; /* Add space below each element */
}

.e_element img, .m_element img, .s_element img {
    width: 100%; /* Ensure images fill their containers */
    border-radius: 5px; /* Add slight border-radius */
}

#banner_space {
    height: 180px;
}

/*title of the page*/
#white_title {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-family: serif, Arial, Helvetica;
  }

#index_banner {
    background-image: url('./img/index_banner.jpg');
    background-size: cover;
    height: 150px;
    position: absolute;
    left: 0; /* Extend 15% to the left */
    right: 0; /* Extend 15% to the right */
    z-index: -1; /* Ensure the banner is behind other content */
  }

#syn_banner {
    background-image: url('./img/syn_banner.webp');
    background-size: cover;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

#mon_banner {
    background-image: url('./img/mon_banner.jpg');
    background-size: cover;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
#epi_banner {
    background-image: url('./img/epi_banner01.webp');
    background-size: cover;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
#epi_banner .content h1, #index_banner .content h1, #syn_banner .content h1, #mon_banner .content h1 {
    position: relative;
    top: 50px;
    margin: 0 auto;
    text-align: center;
  }




  .stanoviste, .substrat, .zalivka {
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
  }

  .substrat img {
    height: 450px;
  }
